[backup]
# comma separated paths that are to be backed up
items = /home/ldalamagas/playground/backup,/home/ldalamagas/playground/backup2
prefix = backup.
suffix = .tar.gz
# In days, -1 to disable retention feature
retention = 30
temp_storage = /tmp

[mysql]
# set this to false to disable database backup
enabled = true
names = opinions
host = localhost
user = username
password = password

[ftp]
host = ftp.imc.com.gr
dir = python_backup
user = username
password = password

[smtp]
# set this to false to disable email notifications
enabled = true
server = smtp.gmail.com:587
from = backup@example.com
to = me@example.com
user = username
password = password